%table
  =form_for(@user) do |form|
    %tr 
      %td First name: 
      %td=form.text_field :first_name, placeholder: "John"
    %tr 
      %td Last name: 
      %td=form.text_field :last_name, placeholder: "Doe"
    %tr 
      %td Email address 
      %td=form.text_field :email, placeholder: "John@example.com"
    %tr 
      %td Password: 
      %td=form.password_field :password, placeholder: "Password"
    %tr 
      %td Confirm Password: 
      %td=form.password_field :password_confirmation, placeholder: "Re-enter password"
    %tr
      %td=form.submit "Save"
  