%h2 New Item
%table
  =form_for(@item) do |form|
    %tr
      %td Name:
      %td=form.text_field :name
    %tr
      %td Acquired On:
      %td=form.date_select(:acquired_on, start_year:1992, end_year:2012, discard_day: true, order: [:month, :year])
    %tr
      %td Category:
      %td=form.collection_select :category_id, Category.all, :id, :title
    %tr
      %td Condition:
      %td=form.collection_select :condition_id, Condition.all, :id, :shape
    %tr
      %td= form.submit