%table.items
  %tr
    %th Item
    %th Acquired 
    %th Category
    %th Condition
    
  - @items.each do |item|
    %tr
      %td= link_to item.name, edit_item_url(item), class: 'item_link', :id => dom_id(item), :remote => true
      %td= item.acquired_on.strftime("%b %Y")
      %td= item.category.title
      %td= item.condition.shape
