/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require reset
 *= require_self
 *= require_tree . 
*/

html {
}

body {
  font-family: 'Quattrocento Sans', sans-serif;
  margin: 5px auto 10px auto;
  width: 960px;
  padding: 10px;
}

p {
	padding: 5px	0;
}

header {
  border-bottom: solid;
  border-bottom: 2 px;
  padding: 0 0 10px 0;
  margin-bottom: 10px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 5px;
  
}

h1 a {
	text-decoration: none;
	color: black;
}


h2 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
	
}

h3 {
  font-size: 18px;
  font-weight:bold;
  padding-bottom: 5px;
	
}

#signup {
	width: 325px;
	height: 195px;
	margin: 10px 0px 5px 0px;
	float: right;
	padding: 10px;
	background-color: #a1eca3;
	border-radius: 10px;
	font-size: 14px;
}
  
.menubar {
  float:right;
  padding: 0 5px 0 0;
  font-size: 12px;
}

.menubar li {
	float: left;
	padding-left: 5px;
}

#notice {
	margin: 5px;
	padding: 5px;	
	background-color: #ddedfd;
}

table {
	
}
table th {
  text-align:left;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 5px  
}

table td {
  padding-right: 15px;
  padding-top: 5px;
}

.new_link {
  padding: 10px 0 10px 0px;
}

#new_form {
	border-radius: 5px;
  display: none;
  margin: 10px 10px	10px	10px;
  padding: 10px 20px;
  float:right;
	background-color: #a9fc9d;
}

#edit_form {
	border-radius: 5px;
  margin: 10px 10px	10px	10px;
  padding: 10px 20px;
  float:right;
	background-color: #b0ddfe;
}

#pagination {
	padding: 10px 0;
}

table.items {
	margin-top: 10px;
	width: 550px;
}

#form_box {
}
